@charset "utf-8";
/**********************
* 日期:2016-12-06
* 说明:icon-pop.png
***********************/

//整体设置
$icon-pop-spacing: 5px; //icon间距
$icon-pop-repeat: no-repeat; //重复性设置
$icon-pop-sprite-dimensions: true; //设置尺寸

@import "compass/utilities/sprites";
@import "icon-pop/*.png";
@include all-icon-pop-sprites;