@charset "utf-8";
/**********************
* 日期:2017-01-17
* 说明:页面按钮样式
***********************/
.eui-btn-primary,
a.eui-btn-primary {
	background-color: #2d7be7;
	color: #fff;
	text-decoration: none;
}
